.save-button {
  background-color: #28a745;
  border-color: #28a745;

  &:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  &:disabled {
    background-color: #cccccc;
    border-color: #cccccc;
  }
}

.ant-button-remove-image {
  margin-top: 20px;
  cursor: pointer;
}

.ant-button-remove-image:hover {
  color: red;
}
