:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #89f7fe, #66a6ff);

  .login-box {
    width: 300px;
    padding: 50px 20px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 30px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      z-index: -1;
    }

    nz-form-item {
      margin-bottom: 20px;
    }

    .login-form-button {
      width: 100%;
      background-color: #0070f3;
      border-color: #0070f3;
      margin-top: 20px;
    }

    .user-icon {
      position: absolute;
      top: -30px;
      left: calc(50% - 30px);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;

      &__icon {
        font-size: 24px;
      }
    }
  }
}
